/******************************************/
/************** Global Style **************/
/******************************************/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
	line-height: 1.7;
	max-width: 2048px;
	margin-left: auto;
	margin-right: auto;
}

nav ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-weight: 300;
}

button {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	font-size: inherit;
}

img {
	max-width: 100%;
}
